.gallery-imgs{
    width: 15rem;
    border-radius: 20%;
}


@media only screen and (max-width: 1200px) {
    .gallery-imgs{
        width: 10rem;
    }
}

.gallery-arrow {
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    position: absolute;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    text-align: center;
    transition: all 0.2s;
  }
  .gallery-arrow:hover,
  .gallery-arrow:focus {
    background-color: var(--btn-hover);
    color: var(--layout-primary);
    border: none;
    outline: 0;
  }
  .gallery-arrow_right {
    right: 1rem;
  }
  .gallery-arrow_left {
    left: 1rem;
  }