.eventsList{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.upcomingEvent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: white solid 1px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../../../../../assets/images/poster.png);
    background-size: cover;
    height: 50vh;
    width: 80vw;
    margin: 3rem 0 3rem 0;
    justify-items: center;
    align-items: center;

}
.eventsList__heading{
    margin:3rem 0 3rem 0;
}
.upcomingEvent__btnContainer__btn{
    border-radius: 50%;
}