.eventsList{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.upcomingEvent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: white solid 1px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../../../../../assets/images/event.jpg);
    height: 50vh;
    width: 80vw;
    margin: 3rem 0 3rem 0;
    background-size: cover;
    background-attachment: fixed;

}
.eventsList__heading{
    margin:3rem 0 3rem 0;
}
.upcomingEvent__btnContainer{
    display:grid;
    justify-items: center;
    align-items: center;
}
.upcomingEvent__btnContainer__btn{
    border-radius: 50%;
}
.upcomingEvent__content{
    margin: 10px;
}
@media (max-width:1200px){
    .upcomingEvent{
        grid-template-columns:  1fr;
        height: auto;

    }
}