.team-service-section {
  text-align: center;
}
.team-service-section_heading {
  padding: var(--section-heading-spacing) 0;
  text-transform: uppercase;
}
.team-service-section_cover {
  z-index: -1;
  position: relative;
  max-width: 100%;
  /* height: 22rem; */
}
.team-service-section_container {
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.team-service-section_container {
  transition: all 0.3s ease-in-out;
}
.team-service-section_content {
  position: absolute;
  z-index: 1;
  top: 100%;
  background-color: var(--background-secondary);
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
  color: white;
  width: 92.5%;
}
.team-service-section_title {
  color: white;
  padding: 2rem 0;
}

.team-service-section_container:hover .team-service-section_content,
.team-service-section_container:focus .team-service-section_content {
  top: 0;
  height: 100%;
  border-radius: 0.3rem;
}
.team-service-section_button {
  background-color: #1c7fd0;
  color: var(--layout-primary);
  padding: 0.3rem 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin: 1rem;
}
.team-service-section_button:hover,
.team-service-section_button:focus {
  background-color: var(--btn-hover);
  color: var(--layout-primary);
  text-decoration: none;
}
@media (max-width: 991px) {
  .team-service-section_cover {
    max-height: 40%;
  }
  .team-service-section_content {
    position: relative;
    background-color: var(--btn-hover);
    background-color: var(--layout-primary);
    display: block;
    color: var(--text-primary);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  .team-service-section_container:hover .team-service-section_content,
  .team-service-section_container:focus .team-service-section_content {
    box-shadow: none;
  }
  .team-service-section_title {
    color: var(--text-primary);
  }
}
