.team-service-section_heading {
  padding: 2rem 0;
  text-transform: uppercase;
}
.team-service-section {
  padding: 2rem 0;
  text-align: center;
}
.team-service-section_title {
  color: var(--text-primary);
  padding: 2rem 0;
}
.team-service-section_button{
    background-color: var(--layout-secondary);
    color: var(--layout-primary);
    padding: 0.3rem 1rem ;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
}
.team-service-section_button:hover{
    background-color: var(--btn-hover);
    color: var(--layout-primary);
    text-decoration: none;
}

