.searchCatogery-componant__select {
  width: 100%;
  background-color: var(--layout-secondary);
  border: none;
  border-radius: 5px;
  outline: none;
  color:#fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;

 }
 .searchCatogery-componant__select:after {
   position: absolute;
   content: "";
   top: 14px;
   right: 10px;
   width: 0;
   height: 0;
   border: 6px solid transparent;
   border-color: #fff transparent transparent transparent;
  }
.filtered {
   padding: 2rem;
   cursor: pointer;
   background-color: var(--layout-secondary);
 }
 