.header_about{
    width: 100%;
    height: auto;
    display:grid;
    grid-template: 1fr;
    justify-content: center;
    margin:8rem 0 6rem 0;
}

.header_about__heading{
    color:#0a111a;
    text-align: center;
}

.header_about__video{
    width: 80vw;
    height: 70vh;
}