.single-service__header {
  text-align: center;
}

.single-service__title {
  margin: var(--section-heading-spacing) 0;
  position: relative;
  display: inline-block;
}
.single-service__title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50%;
  background: var(--layout-secondary);
  bottom: -3px;
  left: 0;
}

.image_container {
  height: 100%;
  margin: 0 0.2rem;
  border-radius: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
