.event-card_content {
  background-color:var(--layout-secondary);
  border-radius: .5rem;
  transition: all .7s;
}
.event-card_content:hover {
  box-shadow:0px 1px 10px var(--layout-secondary) ;

}
.event-card_content  img {
  display: block;
  width: 100%;
  border-top-left-radius:.5rem;
  border-top-right-radius: .5rem;
}
.event-card_description{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-left: 1.5rem;
   color: #fff;
}
figcaption {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: .1rem;

}
.event-card_title{
  text-transform: capitalize;
  color: var(--layout-primary);
  text-decoration: none;
 }
.event-card_title:hover, 
.event-card_title:focus{
  text-decoration: none;
}
.event-card_icon {
  font-size: 1.5rem;
  margin-right: .5rem;
 }
.event-card-footer_info:hover {
  color: var( --btn-hover);
}
.event-card-footer_content {
  width: 100%;
  border-top: solid 1px #e5e5e5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
}
.event-card-footer_info {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: var(--layout-primary);
  transition: all .7s;
  }

.event-card_footer {
  padding-left: 30px;
  padding-right: 30px;
}
.event-card-footer_info:last-child {
  margin-left: auto 
}
.event-card-footer_info:first-child {
  margin-right:4rem 
}

@media (max-width: 991px) {
  .event-card_content {
    margin-top: 3rem;
   }
 }
.events-card_cover {
  position: relative;
 }
.activ-upcoming_event {
  position: absolute;
  top: 0;
  left: 1rem;
  background-color:#fff;
 }

.activ-upcoming-event_icon {
  color:var(--layout-secondary);
  font-size: 3rem;
  margin: .4rem ; 
 }