.blog-card__image {
  display: block;
  height: 250px;
  object-fit: cover;
}

.blog-card {
  box-shadow: 8px 10px 18px -10px var(--layout-secondary);
  transition: all 0.3s ease;
  background: var(--layout-primary);
}

.blog-card:hover {
  transform: scale(1.05);
}
.blog-card:hover h2 {
  text-decoration: underline;
}
