.send-btn{
    background-color: var(--layout-secondary);
    border: none;
    color: var(--layout-primary);
    padding: 7px 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.send-btn:hover,
.send-btn:focus {
    background-color: var(--btn-hover);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.send-btn:focus {
    transform: translateY(10px);
}

.error-message {
    font-size: small;
}