@media (min-width: 768px) {
  footer .subscribe-form {
    width: 50%;
  }
}

footer .subscribe-form_input {
  font-size: 1.2rem;
}

footer .subscribe-form_btn {
  background-color: #1c7fd0;
  color: #000;
}

footer .subscribe-form_btn:hover,
footer .subscribe-form_btn:focus {
  color: #fff;
  background-color: #024b88;
}
