footer {
  background-color: #0a111a;
  color: #fff;
  padding: 2rem 0;
  border-top: 1px solid #fff;
}

footer .socialList_link {
  font-size: var(--heading-2-font-size);
  color: #fff;
  margin: 0.5rem;
  transition: all 0.2s;
}

footer .socialList_link:hover,
footer .socialList_link:focus {
  color: rgba(255, 255, 255, 0.6);
}
