.about-home_section {
    margin-top: var( --section-top-spacing);
    margin-bottom: var(--section-bottom-spacing);
    background-color: var(--layout-primary);
 }


.about-home_section .about-home_Heading{
    color: var( --layout-secondary);
    padding: var( --section-heading-spacing);
    letter-spacing: 0.12rem;
    font-family: var( --heading-font-family);
    text-align: center;
}

@media (max-width: 991px) {
    .about-home_section  .about-home_Info  {
        padding-top: 3rem;
    } 
}

.about-home_section .about-home_Info .about-home_button {
    font-size:var(--main-font-size);
    background-color:var(--layout-secondary);
    color: var( --layout-primary);
    padding: 1rem 1.3rem;
    margin-top: 1rem;
    font-family: var( --heading-font-family);
    letter-spacing: 0.12rem;
    transition: all .3s ease-in-out ;
    border-radius: .5rem;
    text-decoration: none;

}
.about-home_section .about-home_Info 
.about-home_button:hover ,
.about-home_button:focus {
    background-color:var(--btn-hover); 
}
 