.searchCatogery-componant__form {
   width: 100%;
   position: relative;
   display: flex;
   color:#fff;
}
.searchCatogery-componant__sideSearch{
  width: 10rem;
  background-color: var(--layout-secondary);
  text-align: center;
  color:var( --layout-primary);
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.searchCatogery-componant__input {
  width: 100%;
  background-color: var(--layout-secondary);
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#fff;
  padding: 1rem .7rem;
  font-size: 1rem;
  font-weight: 400;
    line-height: 1.5;
   }
.searchCatogery-componant__input::placeholder {
    color: #fff;
}
.searchCatogery-componant__icon{
       padding-top: 1rem ;
       font-size: 2.5rem;
     }
