.intro-header {
    background-image: url(../../../../../assets/images/postar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #efefef;
    position: relative;
    z-index: -2;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .intro-header  .intro-overlay {
    background-color : #0a111a;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .intro-header-heading {
    font-size: 3rem;
  }
  .intro-header-subtitle {
    font-size: var( --heading-2-font-size);
  }