.intro-header_section {
  background-image: url(../../../../../assets/images/poster.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #efefef;
  position: relative;
  z-index: -2;
  text-align: center;
  height: 100vh;
}

.intro-header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.intro-header_section .intro-header_overlay {
  background-color: #0a111a;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.intro-header_section .intro-header_heading {
  font-size: 3rem;
  color: #fff;
}
.intro-header_section .intro-header_subtitle {
  font-size: var(--heading-2-font-size);
}
