.blog-title{
    font-size: 5rem;
}
.blog-created{
    text-align: center;
}

.blog-personaldetails__list{
    list-style: none;
    color:#1c7fd0;
}
.social-links{
    padding: 5px;
    font-size: 2rem;
}