/* Here are the global styles */

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(./assets/fonts/Rubik/Rubik-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url(./assets/fonts/PT/PTSans-Regular.ttf) format("truetype");
}

:root {
  --section-y-spacing: 8rem;
  --section-heading-spacing: 5rem;

  --heading-font-family: "Rubik", sans-serif;
  --body-font-family: "PT Sans", sans-serif;

  --main-font-size: 1.3rem;
  --heading-2-font-size: 2rem;
}

.light-theme {
  --layout-primary: #fff;
  --layout-secondary: #0a111a;
  --text-primary: #242627;
  --text-secondary: #0a111a;
  --background-secondary: #0a111a;
  --btn-hover: #024b88;
}

.dark-theme {
  --layout-primary: #0a111a;
  --layout-secondary: #1c7fd0;
  --text-primary: #fff;
  --text-secondary: #1c7fd0;
  --background-secondary: #4f545c;
  --btn-hover: #fff;
}

body {
  font-family: var(--body-font-family) !important;
  font-size: var(--main-font-size) !important;
  color: var(--text-primary) !important;
  background-color: var(--layout-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

.section_heading {
  text-align: center;
  margin-bottom: var(--section-heading-spacing);
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}

p + p {
  margin-top: 2rem;
}

.video-react-control-bar {
  font-size: 1rem;
}
