.blogs__heading {
  margin: 9rem 0 var(--section-heading-spacing) 0;
  text-align: center;


}
.blogs__list {
  padding-bottom: var(--section-y-spacing);
}
.blogs_filtertion {
  padding-top: 1rem;
  padding-bottom: var(--section-y-spacing);
}
