.blogs__heading {
  padding-top: var(--section-heading-spacing);
}
.blogs__list {
  padding-bottom: var(--section-y-spacing);
}
.blogs_filtertion {
  margin-top: var(--section-y-spacing);
  padding-bottom: var(--section-y-spacing);
}
