.blogs__heading {
  padding-top: var(--section-heading-spacing);
}
.blogs__list {
  padding-bottom: var(--section-y-spacing);
}
.blogs_filtertion {
  padding-top: 1rem;
  padding-bottom: var(--section-y-spacing);
}
